.cabecalho__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/Menu.svg") no-repeat center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top:100%;
    width:60vw; 
    z-index: 2;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}
.menu__botao,
.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.menu__header {
    display: none;
}

@media screen and (min-width: 600px) {
    .container__titulo,
    .container__titulo-negrito {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .menu__header {
        display: flex;
    }

    .menu__header-item {
        text-transform: uppercase;
    }
    .menu__header-link {
        
        text-decoration: none;
        color: #000000;
        padding: 0 2rem;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .menu__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

   


}
